@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");


body
{
	margin: 0;
	padding: 0;
	font-family: 'Poppins';
}
form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.22);
    border-radius: 15px;
    padding: 20px;
    width: 50%;
}

.contour
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.22);
    border-radius: 15px;
    padding: 20px;
    width: 75%;
    margin: 20px;
}

.contourAffiche
{
    margin: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.22);
    border-radius: 10px;

}

.contourAffiche img
{
    width: 95%;
    border-radius: 10px;
}

.contour-center
{
    display: flex;
    justify-content: center;
}

.infos
{
    display: flex;
    flex-direction: column;
}

.contour
{
    display: flex;
    align-items: center;
}
.infos img
{
    border-radius: 10px;
}

.card
{
    margin: 10px;
}

/* nav bar */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
	text-decoration: none;
}

.navbar {
    background: #B0BCC6;
    padding: 1em;
}

.navbar .logo {
        text-decoration: none;
        font-weight: bold;
        color: black;
        font-size: 1.2em;
}


.navbar button
{
    margin: 5px;
}

.navbar .container {
        display: grid;
        grid-template-columns: 180px auto;
        justify-content: space-between;
}

.navbar nav {
	display: flex;
	justify-content: space-between;
	background: none;
	position: unset;
	height: auto;
	width: 100%; 
	padding: 0;
	
}

.navbar nav ul {
		display: flex;
}

.navbar nav a {
		color: black;
		font-size: 1em;
		padding: .1em 1em;
}

.navbar nav ul.primary-nav {
		margin: 0;
}

.navbar nav li.current a {
		font-weight: bold;
	}

.navbar nav li.go-premium-cta a {
		font-weight: bold;
		border-radius: 5em;
		margin-top: -.2em;
}

.information
{
    margin: 5px;
}

.form {
	display: flex;
    flex-direction: column;
    align-items: center;
}
